<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Login</title>
</head>
<body>
        <input type="text" class="searchBox" placeholder="Pesquisar">
    
        <div class="nav">
            <a href="/admin/estoque"></a>
            <div class="pageSelection">
                <a href="#">
                    <i class="fas fa-bacon"></i>
                    <span>Estoque</span>
                </a>
            </div>
    
            <div class="pageSelection">
                <a href="#">
                    <i class="fas fa-hamburger"></i>
                    <span>Lanches</span>
                </a>
            </div>
    
            <div class="pageSelection">
                <a href="/admin/Usuarios">
                    <i class="fas fa-user"></i>
                    <span>Usuários</span>
                </a>
            </div>
    
            <div class="pageSelection">
                <a href="#">
                    <i class="fa fa-screwdriver"></i>
                    <span>Configuração</span>
                </a>
            </div>
    
        </div>
    
    <div></div>
    
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"></div>
        <h1 class="titleRegister">Usuarios</h1>

        <div>
            <form action="<%= formAction %>" method="POST" class= "formContent">

                <label class="standartLabel"></label>
                <input type="text" class="standartInput" placeholder="Nome" value="<%= usuario.nome %>" name="nome" >
                
                <label class="standartLabel"></label>
                <input type="text" class="standartInput" placeholder="E-mail" value="<%= usuario.email %>" name="email" >

                <label class="standartLabel"></label>
                <input type="password" class="standartInput" placeholder="Senha" style="margin-bottom: 0px;"  value="<%= usuario.senha %>" name="senha" >
                
                <input type="submit" value="<%= buttonMessage %>" class="inputBb">
            </form>
        </div>
    </div>
</body>
</html>




