<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/730d5389e8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Cadastro no Cardápio</title>
</head>

<body>
    <%- include("../../partials/sidebar") %>

    <%if(lanche.nome == undefined){%>
        <h1 class="titleRegister">Cadastro de Item no Cardápio</h1>

        <div class="bufferSelect" style="display: none;">
            <select class="standartSelectFood">
                <option selected disabled hidden style="color: hsl(0, 0%, 77%);">Ingrediente / Bebida</option>
                <%ingredientes.forEach((i) => {%>
                    <option value="<%= i.id %>"><%= i.nome %></option>
                <%})%>
            </select>
        </div>

        <form action="/admin/cardapio/cadastrar" class="formContentRegister" method="POST">
            <label for="lanche" class="standartLabel">Nome do Lanche / Bebida</label>
            <input type="text" name="lanche" placeholder="Nome do Lanche / Bebida" class="standartInput">

            <label for="ingrediente" class="standartLabel">Adicionar Ingredientes / Bebidas</label>
            <div id="selectIngredient"></div>
            <button type="button" class="addIngrediente">+</button>

            <label for="description" class="standardLabelFoodDescription">Descrição</label>
            <textarea name="description" cols="60" rows="10"></textarea>

            <label for="preco" class="standartLabel">Preço</label>
            <input type="number" step="0.01" name="preco" placeholder="Preço" class="standartInput">

            <input type="number" name="qtdIngredientes" class="qtdForm" style="display: none;" value="1">
    
            <input type="submit" value="Cadastrar" class="submitBtn">
        </form>
        <%} else{%>
            <h1 class="titleRegister">Editar Item</h1>
    
            <div class="contentRegisterFormExclude">
                <form action="/admin/estoque/atualizar/<%= estoque.id %>?_method=PUT" method="POST"  class="formContentExclude">
                    <label for="lanche" class="standartLabel">Nome do Lanche</label>
                    <input type="text" name="lanche" placeholder="Nome do Lanche" class="standartInput">
            
                    <label for="description" class="standartLabel">Descrição</label>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
            
                    <input type="submit" value="Atualizar" name="" class="submitBtn">
                </form>
                <form action="/admin/estoque/excluir/<%= estoque.id %>?_method=DELETE" method="POST" >
                    <input type="submit" value="Excluir" name="" class="excludeBtn">
                </form>
            </div>
    <%}%>

    <script type="text/javascript">
        let addBtn = document.querySelector(".addIngrediente");
        let showIngredient = document.querySelector("#selectIngredient");
        let firstSelect = document.querySelector(".bufferSelect .standartSelectFood").cloneNode(true);
        let qtdItens = 0;
        firstSelect.name = `ingrediente${qtdItens}`;
        showIngredient.append(firstSelect);

        addBtn.addEventListener('click', function(){
            let newSelect = document.querySelector(".bufferSelect .standartSelectFood").cloneNode(true);
            qtdItens++;
            document.querySelector(".qtdForm").value = qtdItens + 1;

            newSelect.name = `ingrediente${qtdItens}`;
            showIngredient.append(newSelect);
        });
    </script>
</body>
</html>