
<%- include("../../partials/header") %>

<title>Estoque</title>
</head>

<body>

<%- include("../../partials/sidebar") %>

<form action="/admin/estoque" method="GET">
    <input type="text" class="searchBox" name="search" placeholder="Pesquisar">
    <button type="submit" class="searchBtn"><i class="fa fa-search"></i></i></button>
</form>

    <% if(estoques.length == 0) {%>
        <div  class="notFound">
            <img src="/images/nothingFound.png" alt="Nenhum item cadastrado no estoque">
            <h3>Não há nenhum item cadastrado em seu estoque!</h3>
        </div>
    <%} else{%>
        <h2 class="subtitle">Todo o Estoque</h2>
        <% if(estoques.length > 1) {%>
            <p class="subsubtitle"><%= estoques.length %> itens</p>
        <%} else{%>
            <p class="subsubtitle"><%= estoques.length %> item</p>
        <%}%>

        <table class="contentTable">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Qtd.</th>
                    <th scope="col">Qtd. Min.</th>
                    <th scope="col">Última Compra</th>
                    <th scope="col">Categoria</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < estoques.length; i++){ %>
                    <% if(estoques[i].quantidade < estoques[i].quantidade_minima){ %>
                        <tr style="color: red">                
                            <td><%= estoques[i].nome %></td>
                            <td><%= estoques[i].quantidade %></td>
                            <td><%= estoques[i].quantidade_minima  %></td>
                            <td><%= estoques[i].ultima_atualizacao %></td>
                            <td><%= estoques[i].categoria %></td>
                            <td>
                                <a href="/admin/estoque/cadastrar/<%= estoques[i].id %>" class="editIcon"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>
                    <% } else{ %>
                        <tr>                
                            <td><%= estoques[i].nome %></td>
                            <td><%= estoques[i].quantidade %></td>
                            <td><%= estoques[i].quantidade_minima  %></td>
                            <td><%= estoques[i].ultima_atualizacao %></td>
                            <td><%= estoques[i].categoria %></td>
                            <td>
                                <a href="/admin/estoque/cadastrar/<%= estoques[i].id %>" class="editIcon"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    <%}%>

    <a href="/admin/estoque/cadastrar" class="addSupplies" >+</a>
</body>
</html>